.form {
    display: flex;
        flex-direction: column;
        gap: 4px;
}

.text {
    text-align: left;
    margin: 0;
}

.btn {
    background-color: #aaa3a3;
}

.field {
    padding: 4px;
    margin-bottom: 20px;
}