.searchField {
  width: 100%;
  height: 50px;
  background-color: rgb(186, 186, 202);
  padding: 10px;
  margin: 0;
}

.input {
  border: none;
  margin-right: 5px;
  border-radius: 5px;
  width: 250px;
  height: 30px;
}